# Habilitar reescrita de URLs
RewriteEngine On

# Reescrever todas as URLs para o arquivo index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
